<mat-card class="forgot-password-card">
    <mat-card-content>
      <h1 class="app-name">MiniEcom</h1>
      <form (ngSubmit)="sendOtp()">
        <h2 class="forgot-password-title">Forgot Password</h2>
  
        <!-- Email/Phone Field -->
        <mat-form-field class="full-width-input">
          <mat-label>Email or Phone</mat-label>
          <input
            matInput
            placeholder="Enter your email or phone"
            name="emailOrPhone"
            [(ngModel)]="emailOrPhone"
            required
          />
        </mat-form-field>
  
        <!-- Submit Button -->
        <div class="actions">
          <button
            class="btn-lg"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Send OTP <mat-icon>send</mat-icon>
          </button>
        </div>
  
        <!-- Back to Login -->
        <div class="back-to-login">
          <p>Remember your password? <a routerLink="/login">Login</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>